body{
	padding: 20px;
	margin: 0px;
}

img{
	border: 1px solid #999;
	width: 80px;
	height: 80px;

}


.left,.right,.center{
	border: 1px solid #999;
	background: #eee;
	padding: 20px;
}
.left{
	float: left;
	width: 160px;
}

.right{
	border: 1px solid;
	width: 80px;
	float: right;
}

.center{
	margin-left: 220px;
	margin-right: 140px;
}

